body{
    background-color: purple;
    overflow:hidden;
}
.app{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 10px;
    margin-bottom:2rem;

}
.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-radius:15px;
    box-shadow: 5px 3px 10px black;
    height:50%;
    width:70%;
    background-color: white;
}
.input{
    width:200px;
    border:none;
    margin-bottom: 1rem;
    outline:none;
    border-bottom:2px solid black;
}
.input-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.calculate{
    border:none;
    padding: 10px;
    border-radius: 10px;
    background-color: purple;
    color:white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline:none;
}